{% extends 'base/layout.html' %}{% load static %}
{% block title %}Birth Registration Statistics · Create registration centers (RC){% endblock %}
{% block usermenu %}{% include 'common/usermenu.html' %}{% endblock %}
{% block masthead %}
<div class="row">
    <div class="col-lg-12 title">
        <ol class="breadcrumb">
            <li><a href="{% url "br:dashboard" %}">Birth Registration</a></li>
            <li class="active">Create registration centers</li>
        </ol>
        <h1 class="page-title">Create registration centers</h1>
    </div>
</div>
{% endblock %}
{% block content %}
<div class="row">
    <div class="col-lg-12">
        {% if messages %}
        <section class="widget">
        <div class="widget-body">
        {% for message in messages %}
        <p class="alert {{ message.extra_tags }}">{{ message }}</p>
        {% endfor %}
        </div>
        </section>
        {% endif %}
        <section class="widget">
            <div class="widget-body">
                <form class="form-horizontal" role="form" method="post" id="app" data-states='{{ states_data }}'>{% csrf_token %}
                    <fieldset>
                        <div class="alert alert-info">Creating <strong>{% verbatim %}{{ forms.length }}{% endverbatim %}</strong> centers</div>
                        <div>
                            <input type="hidden" name="form-TOTAL_FORMS" :value="forms.length">
                            <input type="hidden" name="form-INITIAL_FORMS" value="0">
                            <input type="hidden" name="form-MAX_NUM_FORMS" value="">
                        </div>
                        <center-form v-for="form in forms" :key="form.id" :form="form" v-on:delete="deleteForm"></center-form>
                    </fieldset>
                    <div class="form-actions">
                        <div class="row">
                            <div class="col-md-offset-3 col-md-7">
                                <button type="submit" class="btn btn-primary form-control-lg">Save Changes</button>
                                <a href="javascript:history.go(-1);" class="btn btn-inverse form-control-lg">Cancel</a>
                                <button class="btn btn-success form-control-lg" @click.prevent="addNewForm">Add another center</button>
                            </div>
                        </div>
                    </div>
                    <div class="alert alert-info">Creating <strong>{% verbatim %}{{ forms.length }}{% endverbatim %}</strong> centers</div>
                </form>
            </div>
        </section>
    </div>
</div>
{% endblock content %}
{% block scripts %}
{{ block.super }}
<template id="center-form-template">
<div>
    <div class="form-group row">
        <label :for="form.name_id" class="col-sm-2 col-form-label">Name:</label>
        <div class="col-sm-8"><input type="text" class="form-control" :name="form.name_name" :id="form.name_id"></div>
    </div>
    <div class="form-group row">
        <label :for="form.state_id" class="col-sm-2 col-form-label">State:</label>
        <div class="col-sm-8">
            <select class="form-control" :name="form.state_name" :id="form.state_id" v-model="selectedState" @change="onStateChange">
                <option v-for="state in form.stateChoices" :value="state.id">[[ state.name ]]</option>
            </select>
        </div>
    </div>
    <div class="form-group row" v-if="displayLGA">
        <label :for="form.lga_id" class="col-sm-2 col-form-label">LGA:</label>
        <div class="col-sm-8">
            <select class="form-control" :name="form.lga_name" :id="form.lga_id" v-model="selectedLGA">
                <option v-for="choice in lgaChoices" :value="choice.id">[[ choice.name ]]</option>
            </select>
        </div>
    </div>
    <div class="form-group row"><div class="col-sm-2"><button class="btn btn-sm btn-danger" @click.prevent="onFormDelete">Delete this</button></div></div>
</div>
</template>
<script src="{% static "js/vendor/vue.js" %}"></script>
<script>
var loader = function() {
    var endpoint = '{% url "api:location_list_typed" %}?type=lga';
    var defaultLGAChoices = [{id: null, name: '--- Select a LGA ---'}];
    var states = JSON.parse(document.querySelector('#app').dataset.states);
    var defaultState = [{id: null, name: '--- Select a state ---'}];

    var CenterForm = function (newId) {
        this.id = newId;
        this.name_name = 'form-' + this.id + '-name';
        this.name_id = 'id_' + this.name_name;
        this.state_name = 'form-' + this.id + '-state';
        this.state_id = 'id_' + this.state_name;
        this.lga_name = 'form-' + this.id + '-lga';
        this.lga_id = 'id_' + this.lga_name;
        this.stateChoices = defaultState.concat(states);
    };

    Vue.component('center-form', {
        computed: {
            displayLGA: function() {
                return (this.selectedState !== null);
            },
            getLGAEndpoint: function() {
                var url = endpoint + '&limit=100&parent=' + this.selectedState;

                return url;
            }
        },
        data: function() {
            return {
                selectedState: null,
                lgaChoices: defaultLGAChoices,
                selectedLGA: null,
            };
        },
        delimiters: ['[[', ']]'],
        methods: {
            onFormDelete: function() {
                this.$emit('delete', this.form);
            },
            onStateChange: function() {
                var inst = this;
                inst.selectedLGA = null;
                if (inst.selectedState === null) {
                    inst.$nextTick(function() {
                        inst.lgaChoices = defaultLGAChoices;
                    });
                    return;
                }
                $.ajax({
                    url: inst.getLGAEndpoint
                }).done(function(data) {
                    inst.$nextTick(function() {
                        inst.lgaChoices = defaultLGAChoices.concat(data.results);
                    });
                });
            }
        },
        props: ['form'],
        template: '#center-form-template'
    });

    new Vue({
        el: '#app',
        data: {
            forms: [],
            idCounter: 0
        },
        methods: {
            addNewForm: function () {
                this.forms.push(new CenterForm(this.idCounter++));
            },
            deleteForm: function(form) {
                var index = this.forms.indexOf(form);
                if (index != -1)
                    this.forms.splice(index, 1);
            }
        }
    });
};

document.addEventListener('DOMContentLoaded', loader);
</script>
{% endblock scripts %}