{% extends 'base/layout.html' %}{% load static %}
{% block title %}Birth Registration Statistics · Create registration centers (RC){% endblock %}
{% block usermenu %}{% include 'common/usermenu.html' %}{% endblock %}
{% block masthead %}
<div class="row">
    <div class="col-lg-12 title">
        <ol class="breadcrumb">
            <li><a href="{% url "br:dashboard" %}">Birth Registration</a></li>
            <li class="active">Create registration centers</li>
        </ol>
        <h1 class="page-title">Create registration centers</h1>
    </div>
</div>
{% endblock %}
{% block content %}
<div class="row">
    <div class="col-lg-12">
        {% if messages %}
        <section class="widget">
        <div class="widget-body">
        {% for message in messages %}
        <p class="alert {{ message.extra_tags }}">{{ message }}</p>
        {% endfor %}
        </div>
        </section>
        {% endif %}
        <section class="widget">
            <div class="widget-body">
                <form class="form-horizontal" role="form" method="post" id="app">{% csrf_token %}
                    <fieldset>
                        <div class="alert alert-info">Creating <strong>{% verbatim %}{{ forms.length }}{% endverbatim %}</strong> centers</div>
                        <div>
                            <input type="hidden" name="form-TOTAL_FORMS" :value="forms.length">
                            <input type="hidden" name="form-INITIAL_FORMS" value="0">
                            <input type="hidden" name="form-MAX_NUM_FORMS" value="">
                        </div>
                        <center-form v-for="form in forms" :key="form.id" :form="form" v-on:delete="deleteForm"></center-form>
                    </fieldset>
                    <div class="form-actions">
                        <div class="row">
                            <div class="col-md-offset-3 col-md-7">
                                <button type="submit" class="btn btn-primary form-control-lg">Save Changes</button>
                                <a href="javascript:history.go(-1);" class="btn btn-inverse form-control-lg">Cancel</a>
                                <button class="btn btn-success form-control-lg" @click.prevent="addNewForm">Add another center</button>
                            </div>
                        </div>
                    </div>
                    <div class="alert alert-info">Creating <strong>{% verbatim %}{{ forms.length }}{% endverbatim %}</strong> centers</div>
                </form>
            </div>
        </section>
    </div>
</div>
{% endblock content %}
{% block scripts %}
{{ block.super }}
<script src="{% static "js/vendor/vue.js" %}"></script>
<script type="text/x-template" id="lga-picker-template">
    <select :name="lga_name" :state_id="state_id" class="form-control"></select>
</script>
<script type="text/x-template" id="center-form-template">
    <div>
        <div class="form-group row">
            <label class="col-4 col-form-label" :for="form.name_id">Name:</label>
            <div class="col-8"><input class="form-control" :name="form.name_name" :id="form.name_id"></input></div>
        </div>
        <div class="form-group row">
            <label class="col-4 col-form-label" :for="form.state_id">State:</label>
            <div class="col-8">
                <select class="form-control" :name="form.state_name" :id="form.state_id" @change="onStateChoiceChange">
                    <option value="">--- Select a state ---</option>
                    {% for state in states %}<option value="{{ state.pk }}">{{ state.name }}</option>{% endfor %}
                </select>
            </div>
        </div>
        <div class="form-group row" v-if="form.selectedState">
            <label class="col-4 col-form-label" :for="form.lga_id">LGA:</label>
            <div class="col-8">
                <lga-picker :state_id="form.selectedState" :lga_name="form.lga_name"></lga-picker>
            </div>
        </div>
        <div class="form-group row">
            <button class="btn btn-sm btn-danger" @click.prevent="onFormDelete">Delete</button>
        </div>
    </div>
</script>
<script type="text/javascript">
(function() {
  document.addEventListener('DOMContentLoaded', function() {
    var endpoint = '{% url "api:location_list_typed" %}?type=lga';
    var defaultLGAdata = [{id: '', name: '--- Select a LGA ---'}];
    var eventBus = new Vue();

    var CenterForm = function (newId) {
        this.id = newId;
        this.name_name = 'form-' + this.id + '-name';
        this.name_id = 'id_' + this.name_name;
        this.state_name = 'form-' + this.id + '-state';
        this.state_id = 'id_' + this.state_name;
        this.lga_name = 'form-' + this.id + '-lga';
        this.lga_id = 'id_' + this.lga_name;
        this.selectedState = null;
    };

    Vue.component('lga-picker', {
        template: '#lga-picker-template',
        props: ['state_id', 'lga_name'],
        computed: {
            getLGAEndpoint: function() {
                var url = endpoint + '&limit=100&parent=' + this.state_id;

                return url;
            }
        },
        methods: {
            populateChoices: function() {
                var inst = this;
                // clear existing option
                for (var i = 0; i < inst.$el.options.length; i++)
                    inst.$el.remove(0);
                // add boilerplate option
                var option = document.createElement('option');
                option.value = '';
                option.text = '--- Select a LGA ---';
                inst.$el.add(option);

                // load the remote data
                $.ajax({
                    url: inst.getLGAEndpoint,
                }).done(function(data) {
                    inst.$nextTick(function() {
                        for (var i = 0; i < data.results.length; i++) {
                            var option = document.createElement('option');
                            option.value = data.results[i].id;
                            option.text = data.results[i].name;
                            inst.$el.add(option);
                        }
                    });
                });
            }
        },
        mounted: function() {
            var vm = this;
            eventBus.$on('reload', vm.populateChoices);
            vm.$nextTick(function() {
                vm.populateChoices();
            });
        }
    })

    Vue.component('center-form', {
        data: function() {
            return {
                lgas: [],
                stateId: null
            }
        },
        props: ['form'],
        methods: {
            getLGAChoices: function(dropdown) {
                var selectedIndex = dropdown.selectedIndex;
                if (!selectedIndex)
                    return;

                this.form.selectedState = dropdown.value;
            },
            onStateChoiceChange: function(event) {
                this.getLGAChoices(event.target);
                var stateDropdown = document.getElementById(this.form.state_id);
                this.stateId = stateDropdown.value;
                eventBus.$emit('reload');
            },
            onFormDelete: function() {
                this.$emit('delete', this.form);
            }
        },
        mounted: function() {
            this.$nextTick(function() {
                var stateDropdown = document.getElementById(this.form.state_id);
                this.getLGAChoices(stateDropdown);
            });
        },
        template: '#center-form-template'
    });

    new Vue({
        el: '#app',
        data: {
            forms: [],
            idCounter: 0
        },
        methods: {
            addNewForm: function () {
                this.forms.push(new CenterForm(this.idCounter++));
            },
            deleteForm: function(form) {
                var index = this.forms.indexOf(form);
                if (index != -1)
                    this.forms.splice(index, 1);
            }
        }
    });
  });
})();
</script>
{% endblock scripts %}