{% extends 'br/base.html' %}
{% load pipeline staticfiles %}
{% block stylesheets %}
{% stylesheet 'centers' %}
{% endblock %}
{% block title %}{{ page_title }}{% endblock %}
{% block content %}
<div class="container">
    <div class="row filter">
        <div class="col-md-12">
            <form class="form-horizontal" method="POST">
                {% csrf_token %}
                {{ form.id }}
                <div class="form-group">
                    <label for="{{ form.name.name }}">{{ form.name.label }}</label>
                    <input type="text" class="form-control" id="{{ form.name.auto_id }}" name="{{ form.name.name }}" value="{{ form.name.value }}">
                </div>
                <div class="form-group">
                    <label for="{{ form.code.name }}">{{ form.code.label }}</label>
                    <input type="text" class="form-control" id="{{ form.code.auto_id }}" name="{{ form.code.name }}" value="{{ form.code.value }}">
                </div>
                <div class="form-group">
                    <label for="{{ form.state.name }}">{{ form.state.label }}</label>
                    {{ form.state }}
                </div>
                <div class="form-group">
                    <label for="{{ form.lga.id_for_label }}">{{ form.lga.label|upper }}</label>
                    <select name="{{ form.lga.name }}" id="{{ form.lga.id_for_label }}">
                        <option selected="true" value="{{ location.parent.pk }}">{{ location.parent.name }}</option>
                    </select>
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label>
                            {{ form.active }} {{ form.active.label }}
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Save</button>
                    <a class="btn btn-default" href="{% url 'center_list' %}">Cancel</a>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
{% javascript 'centers' %}
<script type="text/javascript">
$(document).ready(function() {
    var endpoint = "{% url 'api:location_list_typed' %}?type=lga&parent={{ location.parent.parent.pk }}";
    $('#id_state').select2({
        width: 'resolve'
    });
    $('#id_lga').select2({
      ajax: {
        data: function(params) {
          return {q: params.term};
        },
        dataType: 'json',
        delay: 250,
        processResults: function(data, params) {
          return {results: data.results};
        },
        url: endpoint
      },
      allowClear: true,
      minimumInputLength: 2,
      width: '150px',
      placeholder: 'Location',
      templateResult: function(item) {
        return item.name;
      },
      templateSelection: function(item) {
        if (item.text)
          return item.text;
        else
          return item.name;
      }
    });
});
</script>
{% endblock %}