{% extends 'common/base.html' %}
{% load bootstrap_pagination static %}
{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{% static 'css/navbar.css' %}">
{% endblock %}
{% block navbar %}
{% include 'campaigns/navbar.html' %}
{% endblock %}
{% block page_content %}
<div class="row justify-content-center">
  <h3 class="display-4">{{ page_title }}</h3>
</div>
<div class="row justify-content-center">
  <div class="col col-auto"></div>
</div>
<div class="row justify-content-center">
  <div class="col col-auto">
    <table class="table table-bordered table-hover table-responsive table-sm table-striped">
      <thead>
        <tr>
          <th>Location</th>
          <th>Date</th>
          <th>Reporter</th>
          <th>Commodity</th>
          <th>No. immunized</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for report in object_list %}
        <tr>
          <td>{{ report.location }}</td>
          <td>{{ report.time|date:'SHORT_DATE_FORMAT' }}</td>
          <td>{{ report.reporter|date:'SHORT_DATE_FORMAT' }}</td>
          <td>{{ report.get_commodity_display }}</td>
          <td>{{ report.immunized }}</td>
          <td><a href="{% url 'mnchw:report_update' pk=report.pk %}">Edit</a></td>
        </tr>
        {% empty %}
        <tr>
          <td class="table-warning text-center" colspan="6">No reports found</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% if is_paginated %}
<div class="row m-2 justify-content-center">
  {% bootstrap_paginate page_obj range=10 %}
</div>
{% endif %}
{% endblock %}