*.py[co]
.project
.pydevproject
*~
*.db
*.orig
*.DS_Store
.coverage
.env
.vagrant
*/settings/local.py
bin/
include/
lib/
local/
share/
public/static/
public/media/
*-env/
pip-selfcheck.json
rapidsms.log
node_modules/
