{% extends 'base/layout.html' %}{% load br_analysis_tags static humanize %}
{% block title %}Birth Registration Statistics · {{ location.name|lower|title }}{% endblock %}
{% block loginblock %}<li><a class="dropdown-item" href="{% url 'user-login' %}?next={% url 'br:dashboard' %}"><i class="fa fa-sign-in"></i> &nbsp; Log In</a></li>{% endblock %}
{% block usermenu %}
{% include 'common/usermenu.html' %}
{% endblock %}
{% block masthead %}
<div class="row">
    <div class="col-lg-4 title">
        <h1 class="page-title">Birth Registration</h1>
    </div>
    <div class="col-lg-8">
        <ul class="nav nav-pills pull-xs-right">
            <li class="nav-item dropdown">
                <a href="javascript:;" class="nav-link dropdown-toggle active" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{% if location.type.name == "Country" %}Nigeria{% else %}{{ location.name|lower|title }}{% endif %} <b class="caret"></b></a>
                <div class="dropdown-menu">
                    {% if location.type.name != "Country" %}<a href="{% url 'br:dashboard' %}" class="dropdown-item">Nigeria</a>{% endif %}
                    {% for state in states %}{% with state|lower|slugify as state_slug %}<a href="{% url 'br:dashboard_with_state' state_slug %}" class="dropdown-item{% if state == location.name %} active{% endif %}">{{ state|lower|title }}</a>{% endwith %}{% endfor %}
                </div>
            </li>
            {% for yr in year_range %}
            <li class="nav-item">
                <a href="{% if location.type.name == "Country" %}{% url 'br:dashboard_with_year' yr %}{% else %}{% with location.name|lower|slugify as state %}{% url 'br:dashboard_with_state_and_year' state yr %}{% endwith %}{% endif %}" class="nav-link{% if yr == year %} active{% endif %}">{{ yr }}</a>
            </li>
            {% endfor %}
            <li class="nav-item dropdown">
                {% if month %}
                <a href="javascript:;" class="nav-link dropdown-toggle active" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{% month_name month %} <b class="caret"></b></a>
                {% else %}
                <a href="javascript:;" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Month <b class="caret"></b></a>
                {% endif %}
                <div class="dropdown-menu">
                {% for mth in month_range %}
                    {% if location.type.name == 'Country' %}
                    <a href="{% url 'br:dashboard_with_year_and_month' year mth %}" class="dropdown-item{% if mth == month %} active{% endif %}">{% month_name mth %}</a>
                    {% else %}{% with location.name|lower|slugify as state %}
                    <a href="{% url 'br:dashboard_with_state_year_and_month' state year mth %}" class="dropdown-item{% if mth == month %} active{% endif %}">{% month_name mth %}</a>
                    {% endwith %}{% endif %}
                {% endfor %}
                </div>
            </li>
            <li class="nav-item">
                <form action="" method="GET" id="export"><input type="hidden" name="export" value="✓" /><a href="javascript:;" id="export_button" class="nav-link">Export</a></form>
            </li>
        </ul>
    </div>
</div>
{% endblock %}
{% block content %}
<div class="row">
    <div class="col-lg-6">
        <section class="widget no-padding text-xs-center">
            <div class="row no-margin display-flex">
                <div class="col-xs-6 bg-primary btlr bblr">
                    <div class="row windget-padding-md">
                        <div class="col-xs-12 text-xs-center gen-stats">
                            <h6 class="text-white display-inline-block fw-normal">Under 1</h6>
                            <p class="h2 fw-normal text-white">{{ dataframe_summary.below1.sum|intcomma }}</p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6">
                    <div id="sparkline2" class="chart-overflow-bottom mb-0 text-xs-center mt-sm"></div>
                    <div id="chart_under_1"><svg></svg></div>
                </div>
            </div>
        </section>
    </div>
    <div class="col-lg-6">
        <section class="widget no-padding text-xs-center">
            <div class="row no-margin display-flex">
                <div class="col-xs-6 bg-primary btlr bblr">
                    <div class="row windget-padding-md">
                        <div class="col-xs-12 text-xs-center gen-stats">
                            <h6 class="text-white display-inline-block fw-normal">Under 5</h6>
                            <p class="h2 fw-normal text-white">{{ dataframe_summary.below1.sum|add:dataframe_summary.1to4.sum|intcomma }}</p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6">
                    <div id="chart_under_5"><svg></svg></div>
                </div>
            </div>
        </section>
    </div>
</div>
<div class="row">
    <div class="col-lg-6">
        <section class="widget no-padding text-xs-center">
            <div class="row no-margin display-flex">
                <div class="col-xs-6 bg-primary btlr bblr">
                    <div class="row windget-padding-md">
                        <div class="col-xs-12 text-xs-center gen-stats">
                            <h6 class="text-white display-inline-block fw-normal">Above 5</h6>
                            <p class="h2 fw-normal text-white">{{ dataframe_summary.above5.sum|intcomma }}</p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6">
                    <div id="chart_above_5"><svg></svg></div>
                </div>
            </div>
        </section>
    </div>
    <div class="col-lg-6">
        <section class="widget no-padding text-xs-center">
            <div class="row no-margin display-flex">
                <div class="col-xs-12 bg-primary btlr bblr">
                    <div class="row windget-padding-md">
                        <div class="col-xs-12 text-xs-center gen-stats">
                            <h6 class="text-white display-inline-block fw-normal">Centers</h6>
                            <p class="h2 fw-normal text-white">{{ location.center_count|intcomma }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
<div class="row">
    <div class="col-lg-6">
        <section class="widget bg-body">
            <div class="card bg-body">
                <h3 class="card-title"><span class="fw-semi-bold">Under 1</span> Performance ({% location_performance_pct location dataframe_summary year month 'below1' %}%)</h3>
            </div>
            <div class="card map-container bg-body-light">
                <div id="under1_map" class="content-map"></div>
            </div>
        </section>
    </div>
    <div class="col-lg-6">
        <section class="widget bg-body">
            <div class="card bg-body">
                <h3 class="card-title"><span class="fw-semi-bold">Under 5</span> Performance ({% location_performance_pct location dataframe_summary year month '1to4' %}%)</h3>
            </div>
            <div class="card map-container bg-body-light">
                <div id="under5_map" class="content-map"></div>
            </div>
        </section>
    </div>
</div>
<div class="row">
{% for dataframe_location in dataframe_coverage|dataframe_coverage_locations %}
{% if dataframe_location %}
    <div class="col-lg-4 col-md-6">
        <section class="widget widget-chart-stats-simple">
            <header>
                <h5>
                    <span class="fw-semi-bold">{{ dataframe_location|lower|title }}</span> Coverage
                </h5>
                <div class="widget-controls">
                    <a data-widgster="expand" title="Expand" href="#"><i class="glyphicon glyphicon-chevron-up"></i></a>
                    <a data-widgster="collapse" title="Collapse" href="#"><i class="glyphicon glyphicon-chevron-down"></i></a>
                    <a href="#" data-widgster="close"><i class="glyphicon glyphicon-remove"></i></a>
                </div>
            </header>
            <div class="widget-body">
                <div class="chart bg-body-light">
                    <div id="coverage_{{ dataframe_location|lower|slugify }}" class="chart-inner">
                        <svg></svg>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endif %}
{% endfor %}
</div>
<div class="row">
    <div class="col-lg-12">
        <section class="widget">
            <div class="widget-table-overflow">
                <table class="table table-striped table-responsive">
                    <thead>
                        <tr>
                            <th width="20%">&nbsp;</th>
                            <th colspan="3" class="text-xs-center">Under 1</th>
                            <th>&nbsp;</th>
                            <th colspan="3" class="text-xs-center">1 to 4</th>
                            <th>&nbsp;</th>
                            <th colspan="3" class="text-xs-center">Above 5</th>
                            <th>&nbsp;</th>
                            <th colspan="3" class="text-xs-center">Total</th>
                            <th>&nbsp;</th>
                            <th colspan="2">Performance</th>
                        </tr>
                        <tr>
                            <th>{% if parent_node.type == 'Country' %}State{% else %}LGA{% endif %}</th>
                            <th>Boys</th>
                            <th>Girls</th>
                            <th>Total</th>
                            <th>&nbsp;</th>
                            <th>Boys</th>
                            <th>Girls</th>
                            <th>Total</th>
                            <th>&nbsp;</th>
                            <th>Boys</th>
                            <th>Girls</th>
                            <th>Total</th>
                            <th>&nbsp;</th>
                            <th>Boys</th>
                            <th>Girls</th>
                            <th>Total</th>
                            <th>&nbsp;</th>
                            <th>Under 1</th>
                            <th>Under 5</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% with location.node as parent_node %}
                        {% if parent_node.type == 'Country' %}
                        {% for state_node in parent_node|subnodes:'State'|dictsort:'name' %}
                        <tr>
                            <td>{{ state_node.name|lower|title }}</td>
                            <td>{{ dataframe_summary|ix:state_node.name|ix:"boys_below1"|br_default|intcomma }}</td>
                            <td>{{ dataframe_summary|ix:state_node.name|ix:"girls_below1"|br_default|intcomma }}</td>
                            <td>{{ dataframe_summary|ix:state_node.name|ix:"below1"|br_default|intcomma }}</td>
                            <td>&nbsp;</td>
                            <td>{{ dataframe_summary|ix:state_node.name|ix:"boys_1to4"|br_default|intcomma }}</td>
                            <td>{{ dataframe_summary|ix:state_node.name|ix:"girls_1to4"|br_default|intcomma }}</td>
                            <td>{{ dataframe_summary|ix:state_node.name|ix:"1to4"|br_default|intcomma }}</td>
                            <td>&nbsp;</td>
                            <td>{{ dataframe_summary|ix:state_node.name|ix:"boys_above5"|br_default|intcomma }}</td>
                            <td>{{ dataframe_summary|ix:state_node.name|ix:"girls_above5"|br_default|intcomma }}</td>
                            <td>{{ dataframe_summary|ix:state_node.name|ix:"above5"|br_default|intcomma }}</td>
                            <td>&nbsp;</td>
                            <td>{{ dataframe_summary|ix:state_node.name|ix:"boys"|br_default|intcomma }}</td>
                            <td>{{ dataframe_summary|ix:state_node.name|ix:"girls"|br_default|intcomma }}</td>
                            <td>{{ dataframe_summary|ix:state_node.name|ix:"total"|br_default|intcomma }}</td>
                            <td>&nbsp;</td>
                            <td><span class="label {% performance_class dataframe_summary state_node.name location state_node.id year month 'below1' %}">{% performance_pct dataframe_summary state_node.name location state_node.id year month "below1" %}%</span></td>
                            <td><span class="label {% performance_class dataframe_summary state_node.name location state_node.id year month '1to4' %}">{% performance_pct dataframe_summary state_node.name location state_node.id year month '1to4' %}%</span></td>
                        </tr>
                        {% endfor %}
                        {% else %}
                        {% for lga_node in parent_node|subnodes:'LGA'|dictsort:'name' %}
                        {% with lga_data=dataframe_summary|ix:lga_node.name %}
                        <tr>
                            <th>{{ lga_node.name|title }}</th>
                            <th>{{ lga_data.boys_below1.sum|br_default|intcomma }}</th>
                            <th>{{ lga_data.girls_below1.sum|br_default|intcomma }}</th>
                            <th>{{ lga_data.below1.sum|br_default|intcomma }}</th>
                            <th>&nbsp;</th>
                            <th>{{ lga_data.boys_1to4.sum|br_default|intcomma }}</th>
                            <th>{{ lga_data.girls_1to4.sum|br_default|intcomma }}</th>
                            <th>{{ lga_data.1to4.sum|br_default|intcomma }}</th>
                            <th>&nbsp;</th>
                            <th>{{ lga_data.boys_above5.sum|br_default|intcomma }}</th>
                            <th>{{ lga_data.girls_above5.sum|br_default|intcomma }}</th>
                            <th>{{ lga_data.above5.sum|br_default|intcomma }}</th>
                            <th>&nbsp;</th>
                            <th>{{ lga_data.boys.sum|br_default|intcomma }}</th>
                            <th>{{ lga_data.girls.sum|br_default|intcomma }}</th>
                            <th>{{ lga_data.total.sum|br_default|intcomma }}</th>
                            <td>&nbsp;</td>
                            <th><span class="label {% performance_class dataframe_summary lga_node.name location lga_node.id year month 'below1' %}">{% performance_pct dataframe_summary lga_node.name location lga_node.id year month "below1" %}%</span></th>
                            <th><span class="label {% performance_class dataframe_summary lga_node.name location lga_node.id year month '1to4' %}">{% performance_pct dataframe_summary lga_node.name location lga_node.id year month '1to4' %}%</span></th>
                        </tr>
                        {% for center_node in lga_node|subnodes:'RC'|dictsort:'name' %}
                        <tr>
                            <th>{{ center_node.name|title }}</th>
                            {% with center_data=lga_data|ix:center_node.name %}
                            <td>{{ center_data.boys_below1|br_default|intcomma }}</td>
                            <td>{{ center_data.girls_below1|br_default|intcomma }}</td>
                            <td>{{ center_data.below1|br_default|intcomma }}</td>
                            <td></td>
                            <td>{{ center_data.boys_1to4|br_default|intcomma }}</td>
                            <td>{{ center_data.girls_1to4|br_default|intcomma }}</td>
                            <td>{{ center_data.1to4|br_default|intcomma }}</td>
                            <td></td>
                            <td>{{ center_data.boys_above5|br_default|intcomma }}</td>
                            <td>{{ center_data.girls_above5|br_default|intcomma }}</td>
                            <td>{{ center_data.above5|br_default|intcomma }}</td>
                            <td></td>
                            <td>{{ center_data.boys|br_default|intcomma }}</td>
                            <td>{{ center_data.girls|br_default|intcomma }}</td>
                            <td>{{ center_data.total|br_default|intcomma }}</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            {% endwith %}
                        </tr>
                        {% endfor %}
                        {% endwith %}
                        {% endfor %}
                        {% endif %}
                        {% endwith %}
                    </tbody>
                </table>
            </div>
        </section>
    </div>
</div>
{% endblock content %}
{% block scripts %}
{{ block.super }}
<script src="{% static "base/vendor/d3/d3.js" %}"></script>
<script src="{% static "base/vendor/nvd3/build/nv.d3.js" %}"></script>
<script src="{% static "base/vendor/jvectormap/jquery-jvectormap-2.0.3.min.js" %}"></script>
<script src="{% static "base/js/ng-states.js" %}"></script>
<script src="{% static "base/js/ng-lgas.js" %}"></script>
<script type="text/javascript">
    var pieColors = ['#5d8fc2', '#ddd'];

    function getSlices() {
        var slices = [
            {values: [
                { label: "Boys", value: {{ dataframe_summary.boys_below1.sum }} },
                { label: "Girls", value: {{ dataframe_summary.girls_below1.sum }} }
            ]},
            {values: [
                { label: "Boys", value: {{ dataframe_summary.boys_below1.sum|add:dataframe_summary.boys_1to4.sum }} },
                { label: "Girls", value: {{ dataframe_summary.girls_below1.sum|add:dataframe_summary.girls_1to4.sum }} }
            ]},
            {values: [
                { label: "Boys", value: {{ dataframe_summary.boys_above5.sum }} },
                { label: "Girls", value: {{ dataframe_summary.girls_above5.sum }} }
            ]}
        ];
        return slices;
    }

    d3.scale.pieColors = function () {
        return d3.scale.ordinal().range(pieColors);
    };

    nv.addGraph(function() {
        var chart = nv.models.pieChart()
            .x(function(d) { return d.label })
            .y(function(d) { return d.value })
            .color(d3.scale.pieColors().range())
            .valueFormat(d3.format(','))
            .showLegend(false)
            .margin({top: 0, bottom: 0, left: 0, right: 0})
            .showLabels(false);

        d3.select("#chart_under_1 svg")
            .datum(getSlices()[0].values)
            .transition().duration(1200)
            .call(chart);
        
        return chart;
    });

    nv.addGraph(function() {
        var chart = nv.models.pieChart()
            .x(function(d) { return d.label })
            .y(function(d) { return d.value })
            .color(d3.scale.pieColors().range())
            .valueFormat(d3.format(','))
            .showLegend(false)
            .margin({top: 0, bottom: 0, left: 0, right: 0})
            .showLabels(false);

        d3.select("#chart_under_5 svg")
            .datum(getSlices()[1].values)
            .transition().duration(1200)
            .call(chart);
        
        return chart;
    });

    nv.addGraph(function() {
        var chart = nv.models.pieChart()
            .x(function(d) { return d.label })
            .y(function(d) { return d.value })
            .color(d3.scale.pieColors().range())
            .valueFormat(d3.format(','))
            .showLegend(false)
            .margin({top: 0, bottom: 0, left: 0, right: 0})
            .showLabels(false);

        d3.select("#chart_above_5 svg")
            .datum(getSlices()[2].values)
            .transition().duration(1200)
            .call(chart);
        
        return chart;
    });

    {% for dataframe_location in dataframe_coverage|dataframe_coverage_locations %}nv.addGraph(function() {
        var chart = nv.models.stackedAreaChart()
            .margin({top: 0, right: 0, bottom: 0, left: 0})
            .useInteractiveGuideline(true)
            .showControls(false)
            .options({showXAxis: false, showYAxis: false})
            .color(['#5d8fc2', '#ddd']);
        chart.xAxis
            .tickFormat(function(d) { return d3.time.format("%b %Y")(new Date(d)) });
        chart.yAxis
            .tickFormat(d3.format('.1%'));
        d3.select('#coverage_{{ dataframe_location|lower|slugify }} svg')
            .datum([{
                area: true,
                key: "Under 1",
                values: [{% for period in dataframe_coverage|dataframe_coverage_period:dataframe_location %}{x: {{ period|period_in_ms }}, y: {% coverage_performance dataframe_coverage dataframe_location period 'below1' location period.year period.month %}},{% endfor %}]
            }, {
                area: true,
                key: 'Under 5',
                values: [{% for period in dataframe_coverage|dataframe_coverage_period:dataframe_location %}{x: {{ period|period_in_ms }}, y: {% coverage_performance dataframe_coverage dataframe_location period '1to4' location period.year period.month %}},{% endfor %}]
            }])
            .transition().duration(500)
            .call(chart);
        nv.utils.windowResize(chart.update);
        return chart;
    });{% endfor %}
</script>
<script type="text/javascript">
var under1_data = {
{% with location.node as parent_node %}{% if parent_node.type == 'Country' %}{% for state_node in parent_node|subnodes:'State'|dictsort:'name' %}
    "{{ location_codes|get_item:state_node.name }}": {% performance_pct dataframe_summary state_node.name location state_node.id year month "below1" %},{% endfor %}{% else %}{% for lga_node in parent_node|subnodes:'LGA' %}
    "{{ location_codes|get_item:lga_node.name }}": {% performance_pct dataframe_summary lga_node.name location lga_node.id year month "below1" %},{% endfor %}{% endif %}{% endwith %}
}
var under5_data = {
{% with location.node as parent_node %}{% if parent_node.type == 'Country' %}{% for state_node in parent_node|subnodes:'State'|dictsort:'name' %}
    "{{ location_codes|get_item:state_node.name }}": {% performance_pct dataframe_summary state_node.name location state_node.id year month "1to4" %},{% endfor %}{% else %}{% for lga_node in parent_node|subnodes:'LGA' %}
    "{{ location_codes|get_item:lga_node.name }}": {% performance_pct dataframe_summary lga_node.name location lga_node.id year month "1to4" %},{% endfor %}{% endif %}{% endwith %}
}
$(function () {
    $('#export_button').click(function () {
        $('#export').submit();
    });

    var normalizePerformance = function (performance) {
        if (performance < 30)
            return 1;
        else if ((performance >= 30) && (performance < 70))
            return 2;
        else
            return 3;
    }

    function initMap() {
        $('#under1_map').vectorMap({
            map: '{% if location.type.name == "Country" %}states_merc{% else %}lgas_merc{% endif %}',
            backgroundColor: '#eee',
            zoomMin:0.85,
            regionStyle: {
                initial: {
                    fill: Sing.colors['gray-light']
                }
            },
            focusOn: [{% for code in location_codes.values %}"{{ code }}",{% endfor %}],
            series: {
                regions: [{
                    min: 0, max: 100,
                    values: under1_data,
                    scale: ['#ef2929', '#fcaf3e', '#8ae234'],
                    normalizeFunction: normalizePerformance,
                    legend: {
                        vertical: false,
                        title: 'Performance'
                    }
                }]
            },
            onRegionTipShow: function(e, el, code){
                if (under1_data[code] !== undefined)
                    el.html(el.html()+' ('+ under1_data[code] +'%)');
            }
        });
        $('#under5_map').vectorMap({
            map: '{% if location.type.name == "Country" %}states_merc{% else %}lgas_merc{% endif %}',
            backgroundColor: '#eee',
            regionStyle: {
                initial: {
                    fill: Sing.colors['gray-light']
                }
            },
            focusOn: [{% for code in location_codes.values %}"{{ code }}",{% endfor %}],
            series: {
                regions: [{
                    min: 0, max: 100,
                    values: under5_data,
                    scale: ['#ef2929', '#fcaf3e', '#8ae234'],
                    normalizeFunction: normalizePerformance,
                    legend: {
                        vertical: false,
                        title: 'Performance'
                    }
                }]
            },
            onRegionTipShow: function(e, el, code){
                if (under5_data[code] !== undefined)
                    el.html(el.html()+' ('+ under5_data[code] +'%)');
            }
        });
    }

    initMap();
    SingApp.onPageLoad(initMap);
});
</script>
{% endblock %}
