{% extends 'base/layout.html' %}{% load br_dashboard_tags static humanize %}
{% block title %}Birth Registration Statistics · {{ location.name|lower|title }}{% endblock %}
{% block loginblock %}<li><a class="dropdown-item" href="{% url 'user-login' %}?next={% url 'br:dashboard' %}"><i class="fa fa-sign-in"></i> &nbsp; Log In</a></li>{% endblock %}
{% block usermenu %}
{% include 'common/usermenu.html' %}
{% endblock %}
{% block stylesheets %}
<link rel="stylesheet" href="{% static "base/vendor/leaflet/leaflet.css" %}">
<link rel="stylesheet" href="{% static "base/vendor/leaflet-easybutton/easy-button.css" %}">
<style>
.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}
.info h4 {
    margin: 0 0 5px;
    color: #777;
}
.legend {
    line-height: 18px;
    color: #555;
}
.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}
.easy-map-button {
    font-size: 1.5em;
}
</style>
{% endblock stylesheets %}
{% block masthead %}
<div class="row">
    <div class="col-lg-4 title">
        <h1 class="page-title">Birth Registration</h1>
    </div>
    <div class="col-lg-8">
        <ul class="nav nav-pills pull-xs-right">
            <li class="nav-item dropdown">
                <a href="javascript:;" class="nav-link dropdown-toggle active" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{% if location.type.name == "Country" %}Nigeria{% else %}{{ location.name|lower|title }}{% endif %} <b class="caret"></b></a>
                <div class="dropdown-menu">
                    {% if location.type.name != "Country" %}<a href="{% url 'br:dashboard' %}" class="dropdown-item">Nigeria</a>{% endif %}
                    {% for state in states %}{% with state|lower|slugify as state_slug %}<a href="{% url 'br:dashboard_with_state' state_slug %}" class="dropdown-item{% if state == location.name %} active{% endif %}">{{ state|lower|title }}</a>{% endwith %}{% endfor %}
                </div>
            </li>
            {% for yr in year_range %}
            <li class="nav-item">
                <a href="{% if location.type.name == "Country" %}{% url 'br:dashboard_with_year' yr %}{% else %}{% with location.name|lower|slugify as state %}{% url 'br:dashboard_with_state_and_year' state yr %}{% endwith %}{% endif %}" class="nav-link{% if yr == year %} active{% endif %}">{{ yr }}</a>
            </li>
            {% endfor %}
            <li class="nav-item dropdown">
                {% if month %}
                <a href="javascript:;" class="nav-link dropdown-toggle active" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{% month_name month %} <b class="caret"></b></a>
                {% else %}
                <a href="javascript:;" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Month <b class="caret"></b></a>
                {% endif %}
                <div class="dropdown-menu">
                {% for mth in month_range %}
                    {% if location.type.name == 'Country' %}
                    <a href="{% url 'br:dashboard_with_year_and_month' year mth %}" class="dropdown-item{% if mth == month %} active{% endif %}">{% month_name mth %}</a>
                    {% else %}{% with location.name|lower|slugify as state %}
                    <a href="{% url 'br:dashboard_with_state_year_and_month' state year mth %}" class="dropdown-item{% if mth == month %} active{% endif %}">{% month_name mth %}</a>
                    {% endwith %}{% endif %}
                {% endfor %}
                </div>
            </li>
            <li class="nav-item">
                <ul class="nav nav-pills">
                    {% if cumulative %}
                    <li class="nav-item"><a class="nav-link active" id="cumulative" href="#">Cumulative</a></li>
                    <li class="nav-item"><a class="nav-link" id="monthly" href="#">Monthly</a></li>
                    {% else %}
                    <li class="nav-item"><a class="nav-link" id="cumulative" href="#">Cumulative</a></li>
                    <li class="nav-item"><a class="nav-link active" id="monthly" href="#">Monthly</a></li>
                    {% endif %}
                </ul>
            </li>
            <li class="nav-item"><a href="https://staging.rapidsmsnigeria.org/br">Coverage</a></li>
            <li class="nav-item">
                <form action="{{ request.get_full_path }}" method="GET" id="export"><input type="hidden" name="export" value="✓">{% if cumulative %}<input type="hidden" name="cumulative" value="1">{% endif %}<a href="javascript:;" id="export_button" class="nav-link">Export</a></form>
            </li>
        </ul>
    </div>
</div>
{% endblock %}
{% block content %}
<div class="row">
    <div class="col-lg-6">
        <section class="widget no-padding text-xs-center">
            <div class="row no-margin display-flex">
                <div class="col-xs-6 bg-primary btlr bblr">
                    <div class="row windget-padding-md">
                        <div class="col-xs-12 text-xs-center gen-stats">
                            <h6 class="text-white display-inline-block fw-normal">Under 1</h6>
                            <p class="h5 fw-normal text-white">{{ summary_data.u1|br_default|intcomma }}</p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="row windget-padding-md">
                        <div class="col-xs-6 text-xs-center gen-stats">
                            <h6 class="display-inline-block fw-normal">Girls</h6>
                            <p class="h5 fw-normal">{{ summary_data.girls_below1|br_default|intcomma }}</p>
                        </div>
                        <div class="col-xs-6 text-xs-center gen-stats">
                            <h6 class="display-inline-block fw-normal">Boys</h6>
                            <p class="h5 fw-normal">{{ summary_data.boys_below1|br_default|intcomma }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div class="col-lg-6">
        <section class="widget no-padding text-xs-center">
            <div class="row no-margin display-flex">
                <div class="col-xs-6 bg-primary btlr bblr">
                    <div class="row windget-padding-md">
                        <div class="col-xs-12 text-xs-center gen-stats">
                            <h6 class="text-white display-inline-block fw-normal">Under 5</h6>
                            <p class="h5 fw-normal text-white">{{ summary_data.u5|br_default|intcomma }}</p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="row windget-padding-md">
                        <div class="col-xs-6 text-xs-center gen-stats">
                            <h6 class="display-inline-block fw-normal">Girls</h6>
                            <p class="h5 fw-normal">{{ summary_data.u5_girls|br_default|intcomma }}</p>
                        </div>
                        <div class="col-xs-6 text-xs-center gen-stats">
                            <h6 class="display-inline-block fw-normal">Boys</h6>
                            <p class="h5 fw-normal">{{ summary_data.u5_boys|br_default|intcomma }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
<div class="row">
    <div class="col-lg-6">
        <section class="widget no-padding text-xs-center">
            <div class="row no-margin display-flex">
                <div class="col-xs-6 bg-primary btlr bblr">
                    <div class="row windget-padding-md">
                        <div class="col-xs-12 text-xs-center gen-stats">
                            <h6 class="text-white display-inline-block fw-normal">Above 5</h6>
                            <p class="h5 fw-normal text-white">{{ summary_data.five_plus|br_default|intcomma }}</p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="row windget-padding-md">
                        <div class="col-xs-6 text-xs-center gen-stats">
                            <h6 class="display-inline-block fw-normal">Girls</h6>
                            <p class="h5 fw-normal">{{ summary_data.girls_five_plus|br_default|intcomma }}</p>
                        </div>
                        <div class="col-xs-6 text-xs-center gen-stats">
                            <h6 class="display-inline-block fw-normal">Boys</h6>
                            <p class="h5 fw-normal">{{ summary_data.boys_five_plus|br_default|intcomma }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div class="col-lg-6">
        <section class="widget no-padding text-xs-center">
            <div class="row no-margin display-flex">
                <div class="col-xs-12 bg-primary btlr bblr">
                    <div class="row windget-padding-md">
                        <div class="col-xs-12 text-xs-center gen-stats">
                            <h6 class="text-white display-inline-block fw-normal">Centre coverage</h6>
                            <p class="h5 fw-normal text-white">{{ reporting_location_count|intcomma }} / {{ location.center_count|intcomma }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
{% if not cumulative %}
<div class="row" id="map-container" data-map='{{ map_data }}'>
    <div class="col-lg-6">
        <section class="widget bg-body">
            <div class="card bg-body">
                <h3 class="card-title"><span class="fw-semi-bold">Under 1</span> Performance ({{ u1_performance|default_if_none:'0' }}%)</h3>
            </div>
            <div class="card map-container bg-body-light">
                <div id="under1_map" class="content-map"></div>
            </div>
        </section>
    </div>
    <div class="col-lg-6">
        <section class="widget bg-body">
            <div class="card bg-body">
                <h3 class="card-title"><span class="fw-semi-bold">Under 5</span> Performance ({{ u5_performance|default_if_none:'0' }}%)</h3>
            </div>
            <div class="card map-container bg-body-light">
                <div id="under5_map" class="content-map"></div>
            </div>
        </section>
    </div>
</div>
{% endif %}
<div class="row">
    <div class="col-lg-12">
        <section class="widget">
            <div class="widget-body">
                <table class="table table-striped table-responsive">
                    <thead>
                        <tr>
                            <th width="15%">&nbsp;</th>
                            <th colspan="3" class="text-xs-center">Under 1</th>
                            <th>&nbsp;</th>
                            <th colspan="3" class="text-xs-center">1 to 4</th>
                            <th>&nbsp;</th>
                            <th colspan="3" class="text-xs-center">Above 5</th>
                            <th>&nbsp;</th>
                            <th colspan="3" class="text-xs-center">Total</th>
                            {% if not cumulative %}
                            <th>&nbsp;</th>
                            <th colspan="2">Performance</th>
                            {% endif %}
                        </tr>
                        <tr>
                            <th>{% if level == 'country' %}State{% else %}LGA{% endif %}</th>
                            <th>Boys</th>
                            <th>Girls</th>
                            <th>Total</th>
                            <th>&nbsp;</th>
                            <th>Boys</th>
                            <th>Girls</th>
                            <th>Total</th>
                            <th>&nbsp;</th>
                            <th>Boys</th>
                            <th>Girls</th>
                            <th>Total</th>
                            <th>&nbsp;</th>
                            <th>Boys</th>
                            <th>Girls</th>
                            <th>Total</th>
                            {% if not cumulative %}
                            <th>&nbsp;</th>
                            <th>Under 1</th>
                            <th>Under 5</th>
                            {% endif %}
                        </tr>
                    </thead>
                    <tbody>
                    {% if level == 'country' %}
                    {% include 'br/national_table.html' %}
                    {% else %}
                    {% include 'br/state_table.html' %}
                    {% endif %}
                    </tbody>
                </table>
            </div>
        </section>
    </div>
</div>
{% endblock content %}
{% block scripts %}
{{ block.super }}
<script src="{% static "base/vendor/leaflet/leaflet.js" %}"></script>
<script src="{% static "base/vendor/leaflet-easybutton/easy-button.js" %}"></script>
<script src="{% static "js/Uri.js" %}"></script>
<script>
var loader = function() {
    $('#export_button').click(function () {
        $('#export').submit();
    });

    $('#cumulative').click(function() {
        var uri = new Uri(window.location.href);
        if (!(uri.getQueryParamValue('cumulative')))
            uri.addQueryParam('cumulative', '1');

        window.location.href = uri.toString();
    });

    $('#monthly').click(function() {
        var uri = new Uri(window.location.href);
        if ((uri.getQueryParamValue('cumulative')))
            uri.deleteQueryParam('cumulative');

        window.location.href = uri.toString();
    });

    // extract performance from HTML
    var performanceData = JSON.parse(document.getElementById('map-container').dataset.map);

    // URL to pull map data from
    var mapSource = {% if level == 'country' %}"{% static "base/js/nga-states-mod.json" %}"{% else %}"{% static "base/js/nga-lgas-mod.json" %}"{% endif %};

    // the property that contains the location name
    var layerProp = {% if level == 'country' %}'admin1name'{% else %}'admin2name'{% endif %};

    // create both maps and add OSM layers
    var topLeft = L.latLng([2.69170169436, 4.24059418377]);
    var bottomRight = L.latLng([14.5771777686, 13.8659239771]);
    var u1Map = L.map('under1_map', {
        zoom: 5
      })
      .fitBounds(L.latLngBounds(topLeft, bottomRight));
    var u5Map = L.map('under5_map', {
        zoom: 5
      })
      .fitBounds(L.latLngBounds(topLeft, bottomRight));
    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png?{foo}', {foo: 'bar', attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>'}).addTo(u1Map);
    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png?{foo}', {foo: 'bar', attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>'}).addTo(u5Map);

    var getColour = function(x) {
        if (x > 70)
          return '#73d216';
        else if (x > 60)
          return '#a5db2d';
        else if (x > 50)
          return '#d2e23f';
        else if (x > 30)
          return '#fdc344';
        else if (x >= 0)
          return '#ef2929';
        else
          return '#dcdcdc';
    };

    var legendU1 = L.control({position: 'bottomright'});
    var legendU5 = L.control({position: 'bottomright'});

    var legendAddHandler = function (map) {
        var div = L.DomUtil.create('div', 'info legend'),
            grades = [-1, 0, 30, 50, 60, 70],
            labels = ['unused', '0-29', '30-49', '50-59', '60-69', '70+'];
        for (var i = 0; i < grades.length; i++) {
            var colour = i > 0 ? getColour(grades[i] + 1) : getColour(grades[i]);
            div.innerHTML += '<i style="background:' + colour + '"></i> '
                + labels[i] + '<br>';
        }

        return div;
    };

    legendU1.onAdd = legendAddHandler;
    legendU5.onAdd = legendAddHandler;

    legendU1.addTo(u1Map);
    legendU5.addTo(u5Map);

    // replace these two with a partially-applied function, perhaps?
    function styleUnder1(feature) {
        return {
          fillColor: getColour(feature.properties.u1_performance),
          weight: 1,
          opacity: 1,
          color: 'white',
          // dashArray: '3',
          fillOpacity: 0.7
        }
    }
    function styleUnder5(feature) {
        return {
          fillColor: getColour(feature.properties.u5_performance),
          weight: 1,
          opacity: 1,
          color: 'white',
          fillOpacity: 0.7
        }
    }

    $.getJSON(mapSource, function (data) {
        // this 'layer' is just so we can zoom to the area of interest
        var zoomExtentsLayer = {
            type: 'FeatureCollection',
            features: []
        };
        // this one is the real GeoJSON
        var geoJSONData = {
            type: 'FeatureCollection',
            features: data.features.map(
                function (feature) {
                    var featurePerfData = performanceData[feature.properties.dbid];
                    if (featurePerfData) {
                        // we're interested in its performance, add to the
                        // zoom extents layer
                        zoomExtentsLayer.features.push(feature);

                        // add in the performance data
                        feature.properties.u1_performance = featurePerfData[0];
                        feature.properties.u5_performance = featurePerfData[1];
                    }
                    else {
                        feature.properties.u1_performance = -1;
                        feature.properties.u5_performance = -1;
                    }
                    return feature;
                })
        };

        // add the GeoJSON layers for U1 and U5 performance, and for each of them
        // activate a tooltip with the name of the location and the performance
        // (if there's a performance value for that feature/location)
        L.geoJSON(
            geoJSONData, {style: styleUnder1}
        ).bindTooltip(function (layer) {
            if (layer.feature.properties.u1_performance == -1)
                return layer.feature.properties[layerProp];
            return layer.feature.properties[layerProp] + ': ' + layer.feature.properties.u1_performance + '%';
        }).addTo(u1Map);
        L.geoJSON(
            geoJSONData, {style: styleUnder5}
        ).bindTooltip(function (layer) {
            if (layer.feature.properties.u5_performance == -1)
                return layer.feature.properties[layerProp];
            return layer.feature.properties[layerProp] + ': ' + layer.feature.properties.u5_performance + '%';
        }).addTo(u5Map);

        // zoom to the AOI
        var zoomHelper = L.geoJSON(zoomExtentsLayer);
        u1Map.fitBounds(zoomHelper.getBounds());
        u5Map.fitBounds(zoomHelper.getBounds());

        var resetZoomU1 = L.easyButton('<span class="easy-map-button" title="Reset view">&target;</span>', function() {
            u1Map.fitBounds(zoomHelper.getBounds());
        }).addTo(u1Map);
        var resetZoomU5 = L.easyButton('<span class="easy-map-button" title="Reset view">&target;</span>', function() {
            u5Map.fitBounds(zoomHelper.getBounds());
        }).addTo(u5Map);
    });
};

document.addEventListener('DOMContentLoaded', loader);
</script> 
{% endblock %}
