{% extends "br/base.html" %}{% load bootstrap_pagination %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <div class="well">
        <form class="form-inline" action="{% url 'reports_list' %}" method="POST">
          {% csrf_token %}
          <div class="form-group">{{ filter_form.location }}</div>
          <div class="form-group"><input class="form-control" type="text" name="start_time" id="start_time" value="{{ filter_form.start_time.value|default:'' }}"></div>
          <div class="form-group"><input class="form-control" type="text" name="end_time" id="end_time" value="{{ filter_form.end_time.value|default:'' }}"></div>
          <button class="btn btn-warning"><span class="glyphicon glyphicon-search"></span> Filter</button>
          <button class="btn btn-default form-reset">Clear</button>
        </form>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <div class="table-responsive">
        <table class="table table-bordered table-striped table-hover">
          <thead>
            <tr>
              <th rowspan="2">Date</th>
              <th rowspan="2">State</th>
              <th rowspan="2">LGA</th>
              <th rowspan="2">RC</th>
              <th rowspan="2">Phone</th>
              <th colspan="4">Boys</th>
              <th colspan="4">Girls</th>
              <th rowspan="2" colspan="2"></th>
            </tr>
            <tr>
              <th>&lt; 1</th>
              <th>1 - 4</th>
              <th>5 - 9</th>
              <th>10 - 17</th>
              <th>&lt; 1</th>
              <th>1 - 4</th>
              <th>5 - 9</th>
              <th>10 - 17</th>
            </tr>
          </thead>
          <tbody>
            {% for report in reports %}
            <tr>
              <td>{{ report.time|date:"d/m/Y" }}</td>
              <td>{{ report.location.parent.parent.name }}</td>
              <td>{{ report.location.parent.name }}</td>
              <td>{{ report.location.name }}</td>
              <td>{{ report.connection.identity }}</td>
              <td>{{ report.boys_below1 }}</td>
              <td>{{ report.boys_1to4 }}</td>
              <td>{{ report.boys_5to9 }}</td>
              <td>{{ report.boys_10to18 }}</td>
              <td>{{ report.girls_below1 }}</td>
              <td>{{ report.girls_1to4 }}</td>
              <td>{{ report.girls_5to9 }}</td>
              <td>{{ report.girls_10to18 }}</td>
              <td><a href="{% url 'report_edit' report.pk %}">Edit</a></td>
              <form action="{% url 'report_delete' report.pk %}" method="POST" class="delete_report">{% csrf_token %}
                <td class="center">
                  <button class="btn btn-xs btn-danger" type="submit"><span class="glyphicon glyphicon-remove"></span></button>
                </td>
              </form>
            </tr>
            {% empty %}
            <tr>
              <td colspan="15"><em>No data available</em></td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
  {% if is_paginated %}
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
    {% bootstrap_paginate page_obj range=10 show_first_last="true" %}
    </div>
  </div>
  {% endif %}
</div>
{% endblock %}