<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit-no">
  <title>{{ page_title }}</title>
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/gridforms/1.0.10/gridforms.min.css">
</head>
<body>
  <div class="container">
    <div class="card">
      <div class="card-block">
        <form action="" class="grid-form" method="POST">
          <fieldset>
            <legend>{{ page_title }}</legend>
            {% csrf_token %}
            {% for field in form %}
            <div data-row-span="1">
              <div data-field-span="1">
                <label for="{{ field.id_for_label }}">{{ field.help_text }}</label>
                <input type="number" name="{{ field.name }}" value="{{ field.value }}" id="{{ field.id_for_label }}" placeholder="{{ field.name }}">
              </div>
            </div>
            {% endfor %}
          </fieldset>
          <div class="card-footer pull-right">
            <a class="btn btn-default" href="">Cancel</a>
            <button class="btn btn-primary">Save</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</body>
</html>