{% extends 'base/layout.html' %}{% load bootstrap_pagination static %}
{% block title %}Death Registration Statistics &middot; {{ page_title }}{% endblock %}
{% block usermenu %}
{% if user.is_authenticated %}<li><a class="dropdown-item" href="{% url "dr:dr_report_list" %}">Reports</a></li>
<li class="dropdown-divider"></li>{% endif %}
{% endblock %}
{% block stylesheets %}
{{ block.super }}
<style type="text/css">
    .select2-container.form-control {
        display: inline-block;
    }
</style>
{% endblock %}
{% block masthead %}
<div class="row">
    <div class="col-lg-12 title">
        <ol class="breadcrumb">
            <li><a href="{% url "dr:dashboard" %}">Death Registration</a></li>
            <li class="active">Death Registration Reports</li>
        </ol>
        <h1 class="page-title">Death Registration Reports</h1>
    </div>
</div>
{% endblock %}
{% block content %}
{% if messages %}{% for message in messages %}
<div class="row">
    <div class="col-lg-12">
        <div class="alert{% if message.tags %} {{ message.tags}}{% endif %} alert-dismissable" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            {{ message|safe }}
        </div>
    </div>
</div>{% endfor %}
{% endif %}
<div class="row">
    <div class="col-lg-12">
        <section class="widget">
            <form class="form-horizontal form-inline" role="form" id="filter_form">
                <fieldset>
                    <div class="form-group row">
                        <div class="col-md-12">
                            <input type="hidden" id="{{ filter_form.location.id_for_label }}" name="{{ filter_form.location.name }}" data-placeholder="Location" class="select2 form-control" tabindex="-1">
                            <input id="{{ filter_form.date_start.id_for_label }}" type="text" placeholder="Start Date" name="{{ filter_form.date_start.name }}" class="form-control datepicker" value="{{ filter_form.date_start.value }}" />
                            <input id="{{ filter_form.date_end.id_for_label }}" type="text" placeholder="End Date" name="{{ filter_form.date_end.name }}" class="form-control datepicker" value="{{ filter_form.date_end.value }}" />
                            <button type="submit" class="btn btn-primary" id="filter_button">Filter</button>
                            <a class="btn btn-inverse" href="{% url 'dr:dr_report_list' %}">Clear</a>
                            <button type="button" class="btn btn-danger hidden-xs-up" id="delete_btn">Delete Selected</button>
                        </div>
                    </div>
                </fieldset>
            </form>
        </section>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <section class="widget">
            <div class="widget-table">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>&nbsp;</th>
                            <th>Date</th>
                            <th>State</th>
                            <th>LGA</th>
                            <th>Phone</th>
                            <th>Male deaths</th>
                            <th>Female deaths</th>
                            <th></th>
                        </tr>
                    </thead>
                    <form id="delete_form" action="{% url "dr:dr_report_delete" %}" method="post">{% csrf_token %}
                        <tbody>{% for report in object_list %}
                            <tr>
                                <td><input type="checkbox" name="reports" value="{{ report.pk }}" class="reports"></td>
                                <td>{{ report.date|date:'SHORT_DATE_FORMAT' }}</td>
                                <td>{{ report.location.parent.name }}</td>
                                <td>{{ report.location.name }}</td>
                                <td>{{ report.connection.identity }}</td>
                                <td>{{ report.male }}</td>
                                <td>{{ report.female }}</td>
                                <td><a href="{% url 'dr:dr_report_edit' report.pk %}">Edit</a></td>
                            </tr>{% empty %}
                            <tr>
                                <td class="table-warning text-xs-center" colspan="8">No records found</td>
                            </tr>{% endfor %}
                        </tbody>
                    </form>
                </table>
            </div>
        </section>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="text-xs-center">
            {% bootstrap_paginate page_obj range=10 show_first_last="true" %}
        </div>
    </div>
</div>
{% endblock content %}
{% block scripts %}
{{ block.super }}
<script src="{% static "base/vendor/underscore/underscore-min.js" %}"></script>
<script src="{% static "base/vendor/select2/select2.min.js" %}"></script>
<script src="{% static "base/vendor/moment/min/moment.min.js" %}"></script>
<script src="{% static "base/vendor/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js" %}"></script>
<script type="text/javascript">
    $(function () {
        $('.datepicker').datetimepicker({
            format: 'MM/DD/YYYY'
        });
        var endpoint = '{% url "api:location_list_typed" %}?type=state,lga';
        $('#{{ filter_form.location.id_for_label }}').select2({
            ajax: {
                url: endpoint,
                data: function(term, page) {
                  return {q: term};
                },
                dataType: 'json',
                quietMillis: 250,
                results: function(data, page) {
                  return {results: data.results};
                }
            },
            width: '30em',
            // allowClear: true,
            minimumInputLength: 2,
            cache: true,
            formatResult: function(item) {
                return item.name + ' (' + item.type + ')';
            },
            formatSelection: function(item) {
                if (item.text)
                    return item.text;
                else
                    return item.name + ' (' + item.type + ')';
            }
        });
        $('.reports').change(function () {
            if ($('.reports:checked').length > 0)
                $('#delete_btn').removeClass('hidden-xs-up');
            else
                $('#delete_btn').addClass('hidden-xs-up');
        });
        $('#delete_btn').click(function () {
            $('#delete_form').submit();
        });
    });
</script>
{% endblock %}
