<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit-no">
  <title>{{ page_title }}</title>
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
</head>
<body>
  <div class="container">
    <form action="" method="POST">
      {% csrf_token %}
      {% for field in form %}
      <div class="form-group row">
        <label class="col-sm-2 col-form-label" for="{{ field.id_for_label }}">{{ field.name }}</label>
        <div class="col-sm-10">
          <input class="form-control" type="number" value="{{ field.value }}" placeholder="{{ field.name }}"></input>
        </div>
        <small class="form-text text-muted">{{ field.help_text }}</small>
      </div>
      {% endfor %}
    </form>
  </div>
</body>
</html>