{% extends 'common/base.html' %}
{% load bootstrap_pagination static %}
{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{% static 'css/navbar.css' %}">
{% endblock %}
{% block navbar %}
{% include 'campaigns/navbar.html' %}
{% endblock %}
{% block page_content %}
<div class="row justify-content-center">
  <h3 class="display-4">MNCHW campaigns</h3>
</div>
<div class="row justify-content-center">
  <div class="col col-auto"></div>
</div>
<div class="row justify-content-center">
  <div class="col col-auto">
    <table class="table table-bordered table-hover table-responsive table-sm table-striped">
      <thead>
        <tr>
          <th>Name</th>
          <th>Start date</th>
          <th>End date</th>
          <th>Locations</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for campaign in object_list %}
        <tr>
          <td>{{ campaign.name }}</td>
          <td>{{ campaign.start_date|date:'SHORT_DATE_FORMAT' }}</td>
          <td>{{ campaign.end_date|date:'SHORT_DATE_FORMAT' }}</td>
          <td>{{ campaign.loc_name }} ({{ campaign.loc_type }})</td>
          <td><a href="{% url 'mnchw:report_list' campaign_id=campaign.pk location_id=campaign.loc_pk %}">View reports</a></td>
        </tr>
        {% empty %}
        <tr>
          <td class="table-warning text-center" colspan="5">No campaigns found</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% if is_paginated %}
<div class="row m-2 justify-content-center">
  {% bootstrap_paginate page_obj range=10 show_first_last="true" %}
</div>
{% endif %}
{% endblock %}