{% extends 'base/layout.html' %}{% load static %}
{% block title %}MNCHW · Create campaign{% endblock %}
{% block usermenu %}
{% include 'common/usermenu.html' %}
{% endblock %}
{% block stylesheets %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static 'css/select2/select2.min.css' %}">
<style type="text/css">
    .select2-container.form-control {
        display: inline-block;
    }
</style>
{% endblock %}
{% block masthead %}
<div class="row">
    <div class="col-lg-12 title">
        <ol class="breadcrumb">
            <li><a href="{% url "mnchw:dashboard" %}">MNCHW Dashboard</a></li>
            <li class="active">Create campaign</li>
        </ol>
        <h1 class="page-title">Create campaign</h1>
    </div>
</div>
{% endblock %}
{% block content %}
<div class="row">
    <div class="col-lg-12">
        <section class="widget">
            <div class="widget-body">
                <form class="form-horizontal" role="form" method="post">{% csrf_token %}
                    <fieldset>
                        <legend><strong>Create campaign</strong></legend>
                        {% if form.errors %}
                        <div class="alert alert-danger">
                          <ul>
                            {% for err_field, field_errors in form.errors.iteritems %}
                            {% for err_msg in field_errors }
                            <li>{{ err_field }}: {{ err_msg }}</li>
                            {% endfor %}
                            {% endfor %}
                          </ul>
                        </div>
                        {% endif %}
                        <div class="form-group row">
                            <label for="{{ form.name.id_for_label }}" class="col-md-3 form-control-label text-md-right">Name</label>
                            <div class="col-md-4">
                              <input class="form-control" type="text" name="{{ form.name.name }}" id="{{ form.name.id_for_label }}" placeholder="Name">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="{{ form.locations.id_for_label }}" class="col-md-3 form-control-label text-md-right">Locations</label>
                            <div class="col-md-4">
                              <select class="select2 form-control" id="{{ form.locations.id_for_label }}" name="{{ form.locations.name }}" data-placeholder="Locations">
                            </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="{{ form.start_date.id_for_label }}" class="col-md-3 form-control-label text-md-right">Start date</label>
                            <div class="col-md-4">
                              <input class="form-control datepicker" type="text" name="{{ form.start_date.name }}" id="{{ form.start_date.id_for_label }}" placeholder="Start date">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="{{ form.end_date.id_for_label }}" class="col-md-3 form-control-label text-md-right">End date</label>
                            <div class="col-md-4">
                              <input class="form-control datepicker" type="text" name="{{ form.end_date.name }}" id="{{ form.end_date.id_for_label }}" placeholder="End date">
                            </div>
                        </div>
                    </fieldset>
                    <div class="form-actions">
                        <div class="row">
                            <div class="col-md-offset-3 col-md-7">
                                <button type="submit" class="btn btn-primary form-control-lg">Save Changes</button>
                                <a href="javascript:history.go(-1);" class="btn btn-inverse form-control-lg">Cancel</a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </section>
    </div>
</div>
{% endblock content %}
{% block scripts %}
{{ block.super }}
<script src="{% static "base/vendor/underscore/underscore-min.js" %}"></script>
<script src="{% static "base/vendor/moment/min/moment.min.js" %}"></script>
<script src="{% static "base/vendor/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js" %}"></script>
<script src="{% static "js/select2/select2.min.js" %}"></script>
<script type="text/javascript">
(function() {
  document.addEventListener('DOMContentLoaded', function() {
    var endpoint = '{% url "api:location_list_typed" %}?type=state,lga';

    $('.datepicker').datetimepicker({
      format: 'MM/DD/YYYY'
    });

    $('#{{ form.locations.id_for_label }}').select2({
      ajax: {
          url: endpoint,
          data: function(params) {
            return {q: params.term};
          },
          dataType: 'json',
          quietMillis: 250,
          processResults: function(data, params) {
            return {results: data.results};
          }
      },
      width: '100%',
      minimumInputLength: 2,
      multiple: true,
      placeholder: 'Locations',
      templateResult: function(item) {
        return item.name + ' (' + item.type + ')';
      },
      templateSelection: function(item) {
        if (item.text)
          return item.text;
        else
          return item.name + ' (' + item.type + ')';
      }
    });
  });
})();
</script>
{% endblock scripts %}