{% extends 'common/base.html' %}
{% load bootstrap_pagination static utils %}
{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{% static 'css/navbar.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.11/c3.min.css" integrity="sha256-gl80aFE+bSTFw7UJf+ne/RkwC55cjidIp0Oe3AX5pfo=" crossorigin="anonymous" />
{% endblock %}
{% block navbar %}
{% include 'campaigns/navbar.html' %}
{% endblock %}
{% block page_content %}
<div class="row">
  <h3 class="display-4">{{ page_title }}</h3>
</div>
<div class="row justify-content-center">
  <div class="col col-auto">
    <div class="card">
      <div class="card-block m-1">
        <form class="form-inline">
          <label>Select campaign:</label>
          <select class="form-control" id="campaign_selector">
            {% for campaign in campaigns %}
            <option data-url="{% url 'mnchw:dashboard_detail' campaign_id=campaign.pk location_id=campaign.loc_pk %}" {% if selected_campaign.pk == campaign.pk %}selected="true"{% endif %}>{{ campaign.name }} ({{ campaign.loc_name }} {{ campaign.loc_type }})</option>
            {% endfor %}
          </select>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="row justify-content-center">
  <div class="col col-auto m-2">
    <ul class="nav nav-tabs" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#reports" role="tab">Reports</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#nc" role="tab">Non-compliance</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#shortage" role="tab">Shortage</a>
      </li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane active" id="reports" role="tabpanel">
        <table class="table table-bordered table-hover table-responsive table-striped">
          <thead>
            <tr>
              <th>LGA</th>
              {% for code, description in commodities.iteritems %}
              <th><abbr title="{{ description }}">{{ code | upper }}</abbr></th>
              {% endfor %}
            </tr>
          </thead>
          <tbody>
            {% for lga in lgas %}
            <tr>
              <td>{{ lga.name }}</td>
              {% with current_data=vaccination_data|getitem:lga.name %}
              {% for item in current_data %}
              <td>{{ item|default_if_none:'-' }}</td>
              {% endfor %}
              {% endwith %}
            </tr>
            {% empty %}
            <tr>
              <td colspan="{{ commodities | length | add:'1' }}" class="text-center table-warning">No data found</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      <div class="tab-pane" id="nc" role="tabpanel">
        <table class="table table-bordered table-hover table-responsive table-striped">
          <thead>
            <tr>
              <th>LGA</th>
              {% for code, description in nc_reasons.iteritems %}
              <th><abbr title="{{ description }}">{{ code | upper }}</abbr></th>
              {% endfor %}
            </tr>
          </thead>
          <tbody>
            {% for lga in lgas %}
            <tr>
              <td>{{ lga.name }}</td>
              {% with current_data=noncompliance_data|getitem:lga.name %}
              {% for item in current_data %}
              <td>{{ item|default_if_none:'-' }}</td>
              {% endfor %}
              {% endwith %}
            </tr>
            {% empty %}
            <tr>
              <td colspan="{{ nc_reasons | length | add:'1' }}" class="text-center table-warning">No data found</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      <div class="tab-pane" id="shortage" role="tabpanel">
        <table class="table table-bordered table-hover table-responsive table-striped">
          <thead>
            <tr>
              <th>LGA</th>
              {% for code, description in shortage_commodities.iteritems %}
              <th><abbr title="{{ description }}">{{ code | upper }}</abbr></th>
              {% endfor %}
            </tr>
          </thead>
          <tbody>
            {% for lga in lgas %}
            <tr>
              <td>{{ lga.name }}</td>
              {% with current_data=shortage_data|getitem:lga.name %}
              {% for item in current_data %}
              <td>{% if item %}Y{% endif %}</td>
              {% endfor %}
              {% endwith %}
            </tr>
            {% empty %}
            <tr>
              <td colspan="{{ shortage_commodities | length | add:'1' }}" class="text-center table-warning">No data found</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{% endblock %}
{% block javascripts %}
<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.min.js" integrity="sha256-dsOXGNHAo/syFnazt+KTBsCQeRmlcW1XKL0bCK4Baec=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.11/c3.min.js" integrity="sha256-mlJR4DaLFvEBAgHcavz/vASrM6RrzcQq2lXDBwMixZU=" crossorigin="anonymous"></script>
<script>
(function() {
  document.addEventListener('DOMContentLoaded', function() {
    $('#campaign_selector').change(function() {
      var option = $('#campaign_selector option:selected')[0];
      window.location.assign(option.dataset['url']);
    });
  });
})();
</script>
{% endblock %}