{% extends 'base/layout.html' %}{% load static %}
{% block title %}MNCHW Statistics · Campaign List{% endblock %}
{% block usermenu %}
{% if user.is_authenticated %}<li><a class="dropdown-item" href="{% url "mnchw:campaign_list" %}">Campaigns</a></li>
<li class="dropdown-divider"></li>{% endif %}
{% endblock %}
{% block stylesheets %}
{{ block.super }}
<style type="text/css">
    .select2-container.form-control {
        display: inline-block;
    }
</style>
{% endblock %}
{% block masthead %}
<div class="row">
    <div class="col-lg-12 title">
        <ol class="breadcrumb">
            <li><a href="{% url "mnchw:dashboard" %}">MNCHW</a></li>
            <li class="active">MNCHW Dashboard</li>
        </ol>
        <h1 class="page-title">MNCHW Dashboard</h1>
    </div>
</div>
{% endblock %}
{% block content %}
<div class="row">
    <div class="col-lg-12">
        <section class="widget">
            <form class="form-horizontal form-inline" role="form">
                <fieldset>
                    <div class="form-group row">
                        <div class="col-md-12">
                            <label>Select campaign:</label>
                            <select class="form-control" id="campaign_selector">
                              {% for campaign in campaigns %}
                              <option data-url="{% url 'mnchw:dashboard_detail' campaign_id=campaign.pk location_id=campaign.loc_pk %}" {% if selected_campaign.pk == campaign.pk and selected_location.pk == campaign.loc_pk %}selected="true"{% endif %}>{{ campaign.name }} ({{ campaign.loc_name }} {{ campaign.loc_type }})</option>
                              {% endfor %}
                            </select>
                        </div>
                    </div>
                </fieldset>
            </form>
        </section>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <ul class="nav nav-tabs" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#reports" role="tab">Reports</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#nc" role="tab">Non-compliance</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#shortage" role="tab">Shortage</a>
          </li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane active" id="reports" role="tabpanel">
            <div class="card">
              <div class="card-block table-responsive">
                <table class="table table-bordered table-hover table-sm table-striped">
                  <thead>
                    <tr>
                      <th>LGA</th>
                      {% for code, description in commodities.iteritems %}
                      <th><abbr title="{{ description }}">{{ code | upper }}</abbr></th>
                      {% endfor %}
                    </tr>
                  </thead>
                  <tbody>
                    {% for record in vaccination_data %}
                    <tr>
                      <td>{{ record.name }}</td>
                      {% for num_immunized in record.summary %}
                      <td>{{ num_immunized }}</td>
                      {% endfor %}
                    </tr>
                    {% empty %}
                    <tr>
                      <td colspan="{{ commodities | length | add:'1' }}" class="text-center table-warning">No data found</td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
              <div class="card-block table-responsive">
                <table class="table table-bordered table-hover table-striped">
                  <tbody>
                    {% for record in vaccination_data %}
                    <tr>
                      <th class="bg-primary text-center" colspan="{{ commodities | length | add:'1' }}">{{ record.name }} LGA</th>
                    </tr>
                      <tr>
                        <th>Ward</th>
                        {% for code, description in commodities.iteritems %}
                        <th><abbr title="{{ description }}">{{ code | upper }}</abbr></th>
                        {% endfor %}
                      </tr>
                      {% for ward_record in record.wards %}
                      <tr>
                        <td>{{ ward_record.name }}</td>
                      {% for num_immunized in ward_record.summary %}
                        <td>{{ num_immunized }}</td>
                      {% endfor %}
                      </tr>
                      {% empty %}
                      <tr>
                        <td class="table-warning text-center">No records for this ward</td>
                      </tr>
                      {% endfor %}
                    {% empty %}
                    <tr>
                      <td class="table-warning text-center">No records</td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="tab-pane" id="nc" role="tabpanel">
            <div class="table-responsive">
              <table class="table table-bordered table-hover table-striped">
                <thead>
                  <tr>
                    <th>LGA</th>
                    {% for code, description in nc_reasons.iteritems %}
                    <th><abbr title="{{ description }}">{{ code | upper }}</abbr></th>
                    {% endfor %}
                  </tr>
                </thead>
                <tbody>
                  {% for record in noncompliance_data %}
                  <tr>
                    <td>{{ record.name }}</td>
                    {% for num_cases in record.summary %}
                    <td>{{ num_cases|default_if_none:'-' }}</td>
                    {% endfor %}
                  </tr>
                  {% empty %}
                  <tr>
                    <td colspan="{{ nc_reasons | length | add:'1' }}" class="text-center table-warning">No data found</td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
          <div class="tab-pane" id="shortage" role="tabpanel">
            <div class="table-responsive">
              <table class="table table-bordered table-hover table-striped">
                <thead>
                  <tr>
                    <th>LGA</th>
                    {% for code, description in shortage_commodities.iteritems %}
                    <th><abbr title="{{ description }}">{{ code | upper }}</abbr></th>
                    {% endfor %}
                  </tr>
                </thead>
                <tbody>
                  {% for record in shortage_data %}
                  <tr>
                    <td>{{ record.name }}</td>
                    {% for flag in record.summary %}
                    <td>{% if flag %}Y{% endif %}</td>
                    {% endfor %}
                  </tr>
                  {% empty %}
                  <tr>
                    <td colspan="{{ shortage_commodities | length | add:'1' }}" class="text-center table-warning">No data found</td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
  </div>
</div>
{% endblock content %}
{% block scripts %}
{{ block.super }}
<script src="{% static "base/vendor/bootstrap/js/dist/tab.js" %}"></script>
<script>
(function() {
  document.addEventListener('DOMContentLoaded', function() {
    $('#campaign_selector').change(function() {
      var option = $('#campaign_selector option:selected')[0];
      window.location.assign(option.dataset['url']);
    });
  });
})();
</script>
{% endblock %}
