{% extends 'backend/_layout.html' %}
{% load staticfiles %}
{% block stylesheets %}
<link rel="stylesheet" href="{% static 'vendor/flatpickr/flatpickr.min.css' %}">
<link rel="stylesheet" href="{% static 'vendor/tom-select/css/tom-select.bootstrap5.min.css' %}">
{% endblock stylesheets %}
{% block content %}
<div class="row">
  <div class="col">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-1 pb-1 mb-1 border-bottom">
      <h3>{{ page_title }}</h3>
    </div>
  </div>
</div>
{% if messages %}
{% for message in messages %}
<div class="row">
  <div class="col-sm-12">
    <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %} alert-dismissable">
      {{ message|safe }}
      <button class="btn-close" type="button" data-bs-dismss="alert" aria-label="Close"></button>
    </div>
  </div>
</div>
{% endfor %}
{% endif %}
<div class="row">
  <div class="col">
    <form role="form" id="filter_form">
      <div class="card border-light mb-3">
        <div class="card-body">
          <div class="row g-3">
            <div class="col-md-3 col-sm-12">
            <select class="form-control" id="{{ filter_form.location.id_for_label }}" name="{{ filter_form.location.name }}" placeholder="Location">
              {% if filter_form.cleaned_data.location %}
              <option selected value="{{ filter_form.cleaned_data.location.pk }}" data-type="{{ filter_form.cleaned_data.location.type.name }}">{{ filter_form.cleaned_data.location.name }}</option>
              {% endif %}
            </select>
            </div>
            <div class="col-md-3 col-sm-12">
              <input type="text" class="form-control date-picker" id="{{ filter_form.start_time.id_for_label }}" name="{{ filter_form.start_time.name }}" placeholder="Start Date" value="{{ filter_form.start_time.value|default:'' }}">
            </div>
            <div class="col-md-3 col-sm-12">
              <input type="text" class="form-control date-picker" id="{{ filter_form.end_time.id_for_label }}" name="{{ filter_form.end_time.name }}" placeholder="End Date" value="{{ filter_form.end_time.value|default:'' }}">
            </div>
            <div class="col-md-3 col-sm-12">
              <button type="submit" class="btn btn-dark">Filter</button>
              <a href="{% url 'br:reports_list' %}" class="btn btn-light mx-1">Clear</a>
              <button type="button" class="btn btn-danger invisible" id="delete_btn" data-bs-toggle="modal" data-bs-target="#deleteConfirmModal">Delete Selected</button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
<div class="row">
  <div class="col">
    <div class="card">
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-hover table-sm table-striped">
            <thead>
              <tr>
                <th rowspan="2"></th>
                <th rowspan="2"></th>
                <th rowspan="2">Sender</th>
                <th rowspan="2">Date</th>
                <th rowspan="2">State</th>
                <th rowspan="2">LGA</th>
                <th rowspan="2">Centre</th>
                <th colspan="4">Boys</th>
                <th colspan="4">Girls</th>
              </tr>
              <tr>
                <th>&lt; 1</th>
                <th>1-4</th>
                <th>5-9</th>
                <th>10-17</th>
                <th>&lt; 1</th>
                <th>1-4</th>
                <th>5-9</th>
                <th>10-17</th>
              </tr>
            </thead>
            <form action="{% url 'br:rep_delete' %}" id="delete_form" method="post">
              {% csrf_token %}
              <tbody>
                {% for report in reports %}
                <tr>
                  <td>
                    <div class="form-check">
                      <input type="checkbox" name="reports" value="{{ report.pk }}" class="reports form-check-input" data-delete-checkbox="true"></td>
                    </div>
                  <td>
                    {% if report.source == 'internal' %}
                    <a href="{% url 'br:report_edit' report.pk %}">
                      <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor" width="20" height="20">
                        <title>Edit this report</title>
                        <path d="M13.586 3.586a2 2 0 112.828 2.828l-.793.793-2.828-2.828.793-.793zM11.379 5.793L3 14.172V17h2.828l8.38-8.379-2.83-2.828z" />
                      </svg>
                    </a>
                    {% endif %}
                  </td>
                  <td>{% if report.source == 'internal' %}{{ report.connection.identity }}{% else %}API{% endif %}</td>
                  <td>{{ report.time|date:'SHORT_DATE_FORMAT' }}</td>
                  <td>{{ report.location.parent.parent.name }}</td>
                  <td>{{ report.location.parent.name }}</td>
                  <td>{{ report.location.name }}</td>
                  <td>{{ report.boys_below1 }}</td>
                  <td>{{ report.boys_1to4 }}</td>
                  <td>{{ report.boys_5to9 }}</td>
                  <td>{{ report.boys_10to18 }}</td>
                  <td>{{ report.girls_below1 }}</td>
                  <td>{{ report.girls_1to4 }}</td>
                  <td>{{ report.girls_5to9 }}</td>
                  <td>{{ report.girls_10to18 }}</td>
                </tr>
                {% empty %}
                <tr>
                  <td class="table-warning" colspan="15">No records found</td>
                </tr>
                {% endfor %}
              </tbody>
            </form>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
{% include 'backend/pagination.html' %}
<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" id="deleteConfirmModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="deleteModalLabel">Delete records?</h4>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to delete these records?</p>
        <p><strong><em>This cannot be undone!</em></strong></p>
      </div>
      <div class="modal-footer">
        <button class="btn btn-danger" id="confirm_delete" type="button">Yes, delete them</button>
        <button class="btn btn-default" type="button" data-bs-dismiss="modal">No, don't</button>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
{% block scripts %}
<script src="{% static 'vendor/flatpickr/flatpickr.min.js' %}"></script>
<script src="{% static 'vendor/tom-select/js/tom-select.popular.min.js' %}"></script>
<script>
  let loader = function () {
    // set up date pickers
    flatpickr('.date-picker', {
      dateFormat: 'm/d/Y'
    });

    // set up autocomplete input
    const endpoint = '{% url "api:location_list_typed" %}';
    let autoComplete = new TomSelect('#{{ filter_form.location.id_for_label }}', {
      labelField: 'name',
      searchField: 'name',
      valueField: 'id',
      maxItems: 1,
      load: (query, callback) => {
        let params = new URLSearchParams({
          'q': query,
          'type': ['state', 'lga', 'rc']
        });
        let url = `${endpoint}?${params.toString()}`;
        fetch(url)
          .then(response => response.json())
          .then(json => {
            callback(json.results);
          })
          .catch(() => callback());
      },
      render: {
        option: (item, escape) => {
          return `<div>${escape(item.name)} (${escape(item.type)})</div>`;
        },
        item: (item, escape) => {
          return `<div>${escape(item.name)} (${escape(item.type)})</div>`;
        },
      },
      plugins: {
        remove_button: {
          title: 'Remove'
        }
      }
    });

    // set up toggling of delete button
    const deleteButton = document.getElementById('delete_btn');
    const toggleDeleteButton = () => {
      const numChecked = document.querySelectorAll('input[data-delete-checkbox]:checked').length;
      if (numChecked === 0) {
        // hide delete button
        deleteButton.classList.add('invisible');
      } else {
        // show delete button
        deleteButton.classList.remove('invisible');
      }
    };

    document.addEventListener('change', function (event) {
      if (event.target.matches('[data-delete-checkbox]'))
        toggleDeleteButton();
    });
  };

  // set up submission of delete form
  const deleteForm = document.getElementById('delete_form');
  const deleteConfirmButton = document.getElementById('confirm_delete');
  deleteConfirmButton.addEventListener('click', () => {
    deleteForm.submit();
  });

  document.addEventListener('DOMContentLoaded', loader);
</script>
{% endblock scripts %}