{% extends 'backend/_layout.html' %}
{% load staticfiles %}
{% block stylesheets %}
<link rel="stylesheet" href="{% static 'vendor/tom-select/css/tom-select.bootstrap5.min.css' %}">
{% endblock stylesheets %}
{% block content %}
<div class="row">
  <div class="col">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-1 pb-1 mb-1 border-bottom">
      <h3>{{ page_title }}</h3>
    </div>
  </div>
</div>
<div class="row">
  <div class="col">
    <form id="filter_form">
      <div class="card border-light mb-3">
        <div class="card-body">
          <div class="row g-3">
            <div class="col-md-3 col-sm-12">
              {{ filter_form.role }}
            </div>
            <div class="col-md-3 col-sm-12">
              <input type="text" name="{{ filter_form.phone_number.name }}" id="{{ filter_form.phone_number.id_for_label }}" value="{{ filter_form.phone_number.value|default:'' }}" placeholder="Phone" class="form-control">
            </div>
            <div class="col-md-3 col-sm-12">
              <select class="form-control" id="{{ filter_form.location.id_for_label }}" name="{{ filter_form.location.name }}" placeholder="Location">
                {% if filter_form.cleaned_data.location %}
                <option selected value="{{ filter_form.cleaned_data.location.pk }}" data-type="{{ filter_form.cleaned_data.location.type.name }}">{{ filter_form.cleaned_data.location.name }}</option>
                {% endif %}
              </select>
            </div>
            <div class="col-md-3 col-sm-12">
              <button type="submit" class="btn btn-dark">Filter</button>
              <a href="{% url 'reporters:reporter_list' %}" class="btn btn-light mx-1">Clear</a>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
<div class="row">
  <div class="col">
    <div class="card">
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-hover table-sm table-striped">
            <thead>
              <tr>
                <th></th>
                <th>First name</th>
                <th>Last name</th>
                <th>Phones</th>
                <th>Role</th>
                <th>Location</th>
              </tr>
            </thead>
            <tbody>
              {% for reporter in reporters %}
              <tr>
                <td>
                  {% if reporter.role.code.upper == 'BR' %}
                  <a href="{% url 'reporters:reporter_edit' reporter.pk %}">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor" width="20" height="20">
                      <title>Edit this report</title>
                      <path d="M13.586 3.586a2 2 0 112.828 2.828l-.793.793-2.828-2.828.793-.793zM11.379 5.793L3 14.172V17h2.828l8.38-8.379-2.83-2.828z" />
                    </svg>
                  </a>
                  {% endif %}
                </td>
                <td>{{ reporter.first_name }}</td>
                <td>{{ reporter.last_name }}</td>
                <td>{{ reporter.phone_numbers }}</td>
                <td>{{ reporter.role.name }}</td>
                <td>{{ reporter.location.name }}</td>
              </tr>
              {% empty %}
              <tr>
                <td class="table-warning" colspan="6">No records found</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
{% include 'backend/pagination.html' %}
{% endblock content %}
{% block scripts %}
<script src="{% static 'vendor/tom-select/js/tom-select.popular.min.js' %}"></script>
<script>
  let loader = () => {
    // set up autocomplete input
    const endpoint = '{% url "api:location_list_typed" %}';
    let autoComplete = new TomSelect('#{{ filter_form.location.id_for_label }}', {
      labelField: 'name',
      searchField: 'name',
      valueField: 'id',
      maxItems: 1,
      load: (query, callback) => {
        let params = new URLSearchParams({
          'q': query,
          'type': ['state', 'lga', 'rc']
        });
        let url = `${endpoint}?${params.toString()}`;
        fetch(url)
          .then(response => response.json())
          .then(json => {
            callback(json.results);
          })
          .catch(() => callback());
      },
      render: {
        option: (item, escape) => {
          return `<div>${escape(item.name)} (${escape(item.type)})</div>`;
        },
        item: (item, escape) => {
          return `<div>${escape(item.name)} (${escape(item.type)})</div>`;
        },
      },
      plugins: {
        remove_button: {
          title: 'Remove'
        }
      }
    });
  };

  document.addEventListener('DOMContentLoaded', loader);
</script>
{% endblock scripts %}