{% load pipeline staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Server Error</title>
    {% stylesheet 'dashboard' %}
    {% javascript 'dashboard' %}
  </head>

  <body class="with-3d-shadow">
    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="#"><img src="{% static "img/rapidsms-dashboard.png" %}"></a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-md-offset-3" style="text-align:center; margin-top:14em;">
        <legend style="border-bottom:0px; margin-bottom:0px;">Zong! We screwed up.</legend>
        <p>You shouldn't be seeing this page but you are because you're a genius and have found a rare bug in the software. Rest assured, we now know about it and will fix it ASAP!</p>
      </div>
    </div>
  </body>
</html>
